<%= link_to "Add Review", new_movie_path, class: "btn btn-lg review-btn float-right mb-5" %>

<div class="movies">
  <% @movies.each do |movie| %>
    <%= link_to movie, class: "thumbnail" do %>
      <%= image_tag("https://vignette.wikia.nocookie.net/my-miis/images/a/a5/X.png/revision/latest?cb=20180213211539", class: "img-thumbnail") %>
      <h2 class="title mb-5"><%= movie.title %></h2>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col bottom-signup">
    <h3>Create an account to</br>start reviewing movies!</h3>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-outline-light hero-btn" %>
  </div>
</div>
