<div class="rating-form">
  <div class="plot">
    <lable>Plot</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="acting">
    <lable>Acting</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="screenplay">
    <lable>Screenplay</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="cinematography">
    <lable>Cinematography</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="score">
    <lable>Score</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="editing">
    <lable>Editing</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="directing">
    <lable>Directing</label>
    <%= render "reviews/stars" %>
  </div>
</div>
