<div class="rating-form">
  <div class="plot" data-star="rateable">
    <lable>Plot</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="acting" data-star="rateable">
    <lable>Acting</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="screenplay" data-star="rateable">
    <lable>Screenplay</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="cinematography" data-star="rateable">
    <lable>Cinematography</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="musical_score" data-star="rateable">
    <lable>Musical Score</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="editing" data-star="rateable">
    <lable>Editing</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="directing" data-star="rateable">
    <lable>Directing</label>
    <%= render "reviews/stars" %>
  </div>

  <div class="average d-none" id="average">
    <lable>Average</label>
    <%= render "reviews/stars" %>
  </div>
</div>
