<div class="row">
  <div class="col-sm-8 col-lg-6 m-auto">
    <%= bootstrap_form_for [@movie, @review], url: movie_reviews_path do |f| %>
      <%= render "reviews/ratings_form" %>
      <%= f.hidden_field :plot_rating %>
      <%= f.hidden_field :acting_rating %>
      <%= f.hidden_field :screenplay_rating %>
      <%= f.hidden_field :cinematography_rating %>
      <%= f.hidden_field :musical_score_rating %>
      <%= f.hidden_field :editing_rating %>
      <%= f.hidden_field :directing_rating %>
      <%= f.hidden_field :overall_rating %>
      <%= f.text_area :opinion %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
