<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCritic</title>
    <%= render 'layouts/head_links' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/header_dropdown" %>
    <!--
    <p class="alert alert-success"><%= notice %></p>
    <p class="alert alert-danger"><%= alert %></p>
    -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
